<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dong Dong Events: Detail</title>
</head>

<body>
    <div id="app">
        <div id="header">
            <div id="container">
                <a v-if="name">Welcome back.</a>
                <a v-else @click="showLoginModal = true">Login</a>
            </div>
        </div>
        <div id="event">
            <div id="detail">
                <h1>{{event.title}}</h1>
                <img :src="event.image">
                <p>{{event.body}}</p>
                <div>
                    <p>
                        <strong>Start Time: </strong>{{event.time1}}</p>
                    <p>
                        <strong>End Time: </strong>{{event.time2}}</p>
                </div>
                <p>
                    <strong>Limit: </strong>{{event.limit?event.limit:'Unlimited'}}</p>
            </div>
            <div id="reg">
                <table id="reginfo">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row,index) in reginfo" :id="'rid-'+row[0]">
                            <td>{{index+1}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <a @click="showAddModal = true">Add</a>
                        <a :href="'http://localhost/drupal7/project_rest/event/'+eid+'/export'" v-if="event.access">Download</a>
                    </tfoot>
                </table>
            </div>
        </div>

        <transition id="modalLogin" v-if="showLoginModal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            Log In
                        </div>

                        <div class="modal-body">
                            <form action="">
                                <input v-model="username" type="text" placeholder="Username">
                                <input v-model="password" type="password" placeholder="Password">
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button @click="login(username,password)">Login</button>
                            <button @click="showLoginModal = false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        
        <transition id="modalAdd" v-if="showAddModal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            Register
                        </div>

                        <div class="modal-body">
                            <form action="">
                                <input v-model="reg_name" type="text" placeholder="Name">
                                <input v-model="reg_phone" type="text" placeholder="Phone">
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button @click="reg(reg_name,reg_phone)">Add</button>
                            <button @click="showAddModal = false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</body>
<script>
    var eid = '{{ $eid }}';
</script>
<script src="js/vue.js"></script>
<script src="js/vue-resource.min.js"></script>
<script src="js/event.js"></script>
<link rel="stylesheet" href="css/event.css">

</html>